[
    {
        "description": "Por ejemplo: 'Lechería: precio pagado al productor' o 'Superficie forestada'.",
        "id": "agri",
        "label": "Agroganader\u00eda, pesca y forestaci\u00f3n"
    },
    {
        "description": "Por ejemplo: 'Deuda p\u00fablica'. ",
        "id": "econ",
        "label": "Econom\u00eda y finanzas"
    },
    {
        "description": "Por ejemplo: \u201cRegistro de Establecimientos Educativos\u201d.",
        "id": "educ",
        "label": "Educaci\u00f3n, cultura y deportes"
    },
    {
        "description": "Por ejemplo: 'Productos mineros exportados' o 'Precios del GNC'.",
        "id": "ener",
        "label": "Energ\u00eda"
    },
    {
        "description": "Por ejemplo: 'Operadores de residuos peligrosos'.",
        "id": "envi",
        "label": "Medio ambiente"
    },
    {
        "description": "Por ejemplo: 'Inmuebles del estado Nacional'.",
        "id": "gove",
        "label": "Gobierno y sector p\u00fablico"
    },
    {
        "description": "Por ejemplo: 'Estad\u00edsticas nacionales de VIH/SIDA'.",
        "id": "heal",
        "label": "Salud"
    },
    {
        "description": "Por ejemplo: 'Representaciones argentinas en el exterior'.",
        "id": "intr",
        "label": "Asuntos internacionales"
    },
    {
        "description": "Por ejemplo: 'Censo penitenciario'.",
        "id": "just",
        "label": "Justicia, seguridad y legales"
    },
    {
        "description": "Por ejemplo: 'Departamentos de la provincia de R\u00edo Negro'.",
        "id": "regi",
        "label": "Regiones y ciudades"
    },
    {
        "description": "Por ejemplo: 'Turistas residentes que viajan por Argentina'.",
        "id": "soci",
        "label": "Poblaci\u00f3n y sociedad"
    },
    {
        "description": "Por ejemplo: 'Recursos humanos en ciencia y tecnolog\u00eda'.",
        "id": "tech",
        "label": "Ciencia y tecnolog\u00eda"
    },
    {
        "description": "Por ejemplo: 'Estad\u00edsticas viales'.",
        "id": "tran",
        "label": "Transporte"
    }
]