{% extends h.get_andino_base_page() %}

{% block subtitle %} - Ingresar{% endblock %}

{% block content %}

    <div id="login-container" class="container-fluid">
      <div class="restricted-max-width">
        <div id="login" class="col-xs-12 col-md-10 col-md-offset-1 login-block">
            <div class="col-xs-4 col-xs-offset-4">
                <img src="/img/andino.png" class="andino-logo">
                <h2 class="login-custom-text">{{ h.get_theme_config('login-title') or '' }}</h2>
            </div>
            <div class="col-xs-8 col-xs-offset-2">
                <div id="login-vertical-wrapper" class="login-form">
                    <h4 class="login-access-text"><b>Ingresá a tu cuenta</b></h4>
                    <div id="forgot-password-positive-feedback" class="{{ 'hidden' if not h.get_request_param('email-feedback') }}">
                        <span>
                            <img src="/img/input-check.svg">
                            ¡Perfecto! Te enviamos un e-mail para crear una nueva contraseña.
                        </span>
                    </div>
                {% snippet "user/snippets/login_form.html", action=c.login_handler, error_summary=error_summary, login_error=login_error %}
                </div>
            </div>
        </div>
      </div>
    </div>

<div id="recover-password" class="modal edit-user-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <i class="icon-remove dismiss-recovery" data-dismiss="modal"></i>
                <h1>Recuperemos tu contraseña</h1>
                <p class="username-label">¿Cuál es tu usuario?</p>
                <div class="can-have-feedback-img username-feedback">
                    <input type="text" id="username">
                </div>
                <button id="send-recovery" type="button" class="btn btn-blue">CONFIRMAR</button>
            </div>
        </div>
    </div>
</div>

{% resource 'gobar_js/user_config/user_commons.js' %}
{% resource 'gobar_js/login.js' %}

{% endblock %}
