{% extends "home/index.html" %}

{% block content %}
    {{ super() }}

    <div id="password-reset" class="modal" tabindex="-1" role="dialog" data-key="{{ c.reset_key }}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h1>¡Hola, {{ user.fullname or user.name }}!</h1>

                    <h2>Cambiemos tu contraseña:</h2>

                    <p class="password-label">Nueva contraseña*</p>
                    <div class="can-have-feedback-img password1-feedback">
                        <input type="password" id="password1">
                    </div>

                    {% if 'security' in g.plugins %}
                        <p>La contraseña debe contener como mínimo 10 caracteres, y estar compuesta de al menos tres de los siguientes tipos de caracteres: mayúsculas, minúsculas, dígitos, puntuación y caracteres especiales.</p>
                    {% endif %}

                    <p class="password-label">Repetir contraseña*</p>
                    <div class="can-have-feedback-img password2-feedback">
                        <input type="password" id="password2">
                    </div>

                    <hr>

                    <p>Si querés, tambien podés cambiar tu e-mail:</p>

                    <p class="email-label">Nuevo e-mail</p>
                    <div class="can-have-feedback-img email1-feedback">
                        <input type="text" id="email1">
                    </div>

                    <p class="email-label">Repetir e-mail</p>
                    <div class="can-have-feedback-img email2-feedback">
                        <input type="text" id="email2">
                    </div>
                    {% snippet 'snippets/csrf.html' %}

                    <button id="save-changes" type="button" class="btn btn-blue">GUARDAR</button>
                </div>
            </div>
        </div>
    </div>


    {% resource 'gobar_js/commons.js' %}
    {% resource 'gobar_js/user/secure_password.js' %}
    {% resource 'gobar_js/user/password_reset.js' %}
{% endblock %}