{% extends "user/user_config_base.html" %}

{% block config %}
    <div id="user-config-create-users">
        <h1>Crear usuarios</h1>
        <h2 class="blue">Administrador</h2>
        <p class="with-bottom-margin">
            Podrá crear usuarios, editar la configuración general de del portal; crear, actualizar
            y borrar todos los conjuntos de datos; y gestionar temas y organizaciones.
        </p>

        <div class="create-section admin">
            <h2>Usuario</h2>
            <input name="username" type="text" title="Usuario" placeholder="Por ejemplo, jperez" maxlength="10">
            <p>Máximo 10 caracteres.</p>

            <h2>Nombre y apellido</h2>
            <input name="fullname" type="text" title="Nombre y apellido" placeholder="Por ejemplo, Juan Rodríguez">

            <h2>E-mail</h2>
            <div>
                <input name="email" type="text" title="E-mail" placeholder="j.rodriguez@gmail.com">
                <button class="btn btn-blue">
                    LISTO, CREAR
                </button>
            </div>
        </div>

        <div class="create-section user">
            <h2 class="blue">Colaborador</h2>
            <p class="with-bottom-margin">
                Podrá crear, actualizar y borrar conjuntos de datos sólo de la organización que elijas.
            </p>

            <h2>Usuario</h2>
            <input name="username" type="text" title="Usuario" placeholder="Por ejemplo, jperez" maxlength="10">
            <p>Máximo 10 caracteres.</p>

            <h2>Nombre y apellido</h2>
            <input name="fullname" type="text" title="Nombre y apellido" placeholder="Por ejemplo, Juan Rodríguez">

            <h2>E-mail</h2>
            <div>
                <input name="email" type="text" title="E-mail" placeholder="j.rodriguez@gmail.com">
                <button class="btn btn-blue">
                    LISTO, CREAR
                </button>
            </div>
        </div>
    </div>

{% endblock %}
