{% extends "user/user_config_base.html" %}

{% block config %}
    <div id="user-config-create-users">
        <h1>Crear usuarios</h1>
        <h2 class="blue">Administrador</h2>
        <p class="with-bottom-margin">
            Podrá crear usuarios, editar la configuración general de del portal; crear, actualizar
            y borrar todos los conjuntos de datos; y gestionar temas y organizaciones.
        </p>

        <div class="create-section admin">
            <h2>Usuario</h2>
            <input name="username" type="text" title="Usuario" placeholder="Por ejemplo, jperez" maxlength="10">
            <p>Máximo 10 caracteres.</p>

            <h2>Nombre y apellido</h2>
            <input name="fullname" type="text" title="Nombre y apellido" placeholder="Por ejemplo, Juan Rodríguez">

            <h2>E-mail</h2>
            <div>
                <input name="email" type="text" title="E-mail" placeholder="j.rodriguez@gmail.com">
                <button class="btn btn-blue">
                    LISTO, CREAR
                </button>
            </div>
        </div>

        <div class="create-section user">
            <h2 class="blue">Colaborador</h2>
            <p class="with-bottom-margin">
                Podrá crear, actualizar y borrar conjuntos de datos sólo de la organización que elijas.
            </p>

            <h2>Usuario</h2>
            <input name="username" type="text" title="Usuario" placeholder="Por ejemplo, jperez" maxlength="10">
            <p>Máximo 10 caracteres.</p>

            <h2>Nombre y apellido</h2>
            <input name="fullname" type="text" title="Nombre y apellido" placeholder="Por ejemplo, Juan Rodríguez">

            <h2>E-mail</h2>
            <div>
                <input name="email" type="text" title="E-mail" placeholder="j.rodriguez@gmail.com">
                <button class="btn btn-blue">
                    LISTO, CREAR
                </button>
            </div>
        </div>

        <hr>

        <div class="user-list admin-users">
            <h2 class="blue">Administradores</h2>
            <div class="users">
                {% for admin_user in admin_users %}
                    <div class="user">
                        <div class="user-editable">
                            {% snippet "svg/user-logo.svg" %}
                            <p class="username">
                                {{ admin_user.name }}
                                {% snippet "svg/edit.svg" %}
                            </p>
                            <p class="fullname">
                                {{ admin_user.fullname or '' }}
                            </p>
                            <p class="email">
                                {{ admin_user.email or '' }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="user-list normal-users">
            <h2 class="blue">Colaboradores</h2>
            <div class="users">
                {% for normal_user in normal_users %}
                    <div class="user">
                        <div class="user-editable">
                            {% snippet "svg/user-logo.svg" %}
                            <p class="username">
                                {{ normal_user.name }}
                                {% snippet "svg/edit.svg" %}
                            </p>
                            <p class="fullname">
                                {{ normal_user.fullname or '' }}
                            </p>
                            <p class="email">
                                {{ normal_user.email or '' }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>

{% endblock %}
