<div id="navbar" class="col-xs-12 col-md-4">

    <h2>Usuarios</h2>
    <div class="links-section">
        <a href="{{ h.url_for(controller='ckanext.gobar_theme.user_controller:GobArUserController', action='create_users') }}"
           class="section-link {{ 'active' if c.action == 'create_users' else '' }}">
            Alta de usuarios
        </a>
        <a href="{{ h.url_for(controller='ckanext.gobar_theme.user_controller:GobArUserController', action='list_users') }}"
           class="section-link {{ 'active' if c.action == 'list_users' else '' }}">
            Listado de usuarios
        </a>
    </div>

</div>
