{% extends "user/user_config_base.html" %}

{% block config %}
    <div id="user-config-my-account">

        <h1>Datos personales</h1>

        <h2 class="blue">Datos fijos</h2>
        <h2>Usuario</h2>
        <p><i>{{ c.userobj.name }}</i></p>

        {% if c.userobj.fullname %}
            <h2>Nombre y apellido</h2>
            <p><i>{{ c.userobj.fullname or '' }}</i></p>
        {% endif %}

        <h2>Apikey</h2>
        <p><i>{{ c.userobj.apikey }}</i></p>

        {% set current_email = c.userobj.email or '' %}

        <h2 class="blue">Datos editables</h2>
        <div class="disabled-input" data-replace-id="email-edit">
            <h2>E-mail</h2>
            <div class="can-have-feedback-img">
                <input name="email" type="text" title="E-mail" value="{{ current_email }}" disabled="disabled">
                {% snippet "svg/edit.svg" %}
            </div>
        </div>

        <div id="email-edit" class="hidden edit-section" data-endpoint="/configurar/mi_cuenta/cambiar_email" data-attr="email">
            <input type="hidden">
            <h2>Nuevo e-mail</h2>
            <div class="can-have-feedback-img">
                <input name="email" type="text" title="Nuevo e-mail" value="{{ current_email }}" data-default-value="{{ current_email }}">
            </div>
            <h2>Repetir e-mail</h2>
            <div class="can-have-feedback-img">
                <input name="email-confirmation" type="text" title="Repetir e-mail">
                {% snippet 'snippets/csrf.html' %}
                <button class="btn btn-blue" id="save-email">
                    GUARDAR
                </button>
                <button class="btn btn-transparent" id="cancel-email">
                    CANCELAR
                </button>
            </div>
        </div>

        <div class="disabled-input" data-replace-id="password-edit">
            <h2>Contraseña</h2>
            <div class="can-have-feedback-img">
                <input name="password" type="password" title="Contraseña" value="******" disabled="disabled">
                {% snippet "svg/edit.svg" %}
            </div>
        </div>

        <div id="password-edit" class="hidden edit-section" data-endpoint="/configurar/mi_cuenta/cambiar_contraseña" data-attr="password">
            <h2>Contraseña actual</h2>
            <div class="can-have-feedback-img">
                <input name="password" type="password" title="Contraseña actual" data-default-value="">
            </div>

            <h2>Nueva contraseña</h2>
            <div class="can-have-feedback-img">
                <input name="password" type="password" title="Nueva contraseña" data-default-value="">
            </div>

            {% if 'security' in g.plugins %}
                <p>La contraseña debe contener como mínimo 10 caracteres, y estar compuesta de al menos tres de los siguientes tipos de caracteres: mayúsculas, minúsculas, dígitos, puntuación y caracteres especiales.</p>
            {% endif %}

            <h2>Repetir contraseña</h2>
            <div class="can-have-feedback-img">
                <input name="password" type="password" title="Repetir contraseña">
                <button class="btn btn-blue" id="save-password">
                    GUARDAR
                </button>
                <button class="btn btn-transparent" id="cancel-password">
                    CANCELAR
                </button>
            </div>
        </div>

    </div>

    {% resource 'gobar_js/commons.js' %}
    {% resource 'gobar_js/user/secure_password.js' %}
    {% resource 'gobar_js/user_config/my_account.js' %}

{% endblock %}
