<div class="control-group">
    <label class="control-label" for="field-license">License</label>
    <p>
         This license applies to the contents of the resource. When you publish, you will agree to release the form under the <a href="http://opendatacommons.org/licenses/odbl/1-0/" target="_blank"> Open License Database </a>. Find <a href="http://opendefinition.org/" target="_blank"> more about licensing in Open Definition </a>.
    </p>
    <div class="controls">
        <select id="field-license" name="license_id" data-module="autocomplete">
            {% set existing_license_id = data.get('license_id') %}
            {% for license_id, license_desc in h.license_options(existing_license_id) %}
                <option value="{{ license_id }}"
                        {% if existing_license_id == license_id %}selected="selected"{% endif %}>{{ license_desc }}</option>
            {% endfor %}
        </select>
        {% if error %}<span class="error-block">{{ error }}</span>{% endif %}
    </div>
</div>