{% set attributes = h.json_loads(res['attributesDescription'] or '[]') %}
{% set hasAtLeastOneUnit = h.attributes_has_at_least_one('unit', attributes) %}
{% set hasAtLeastOneId = h.attributes_has_at_least_one('id', attributes) %}

{% if attributes|length > 0 %}
<div>
    <h2 class="title-h">Metadatos de este recurso</h2>

    <div class="table table-responsive h500" style="table-layout: fixed;">
        <table id="metadata-table" class="table table-striped table-bordered table-fixed"
               style="margin-bottom: 100px;">
            <thead>
                <tr class="gradient">
                    <th>Título de la columna</th>
                    <th>Tipo de dato</th>
                    <th>Descripción</th>
                    {% if hasAtLeastOneUnit %}
                        <th>Unidades</th>
                    {% endif %}
                    {% if hasAtLeastOneId %}
                        <th>Identificador</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for attribute_group in attributes %}
                <tr style=" overflow-y:scroll;">
                    <td>{{ attribute_group.get('title', '') }}</td>
                    <td>{{ attribute_group.get('type', '') }}</td>
                    <td>{{ attribute_group.get('description', '') }}</td>
                    {% if hasAtLeastOneUnit %}
                        <td>{{ attribute_group.get('unit', '') }}</td>
                    {% endif %}
                    {% if hasAtLeastOneId %}
                        <td>{{ attribute_group.get('id', '') }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
</div>

{% endif %}

<style>

.table-fixed {
    table-layout: fixed;
}

.table-fixed tbody {
     max-height: 200px;
     overflow-y: auto;
     width: 100%;
}

.table-fixed tbody{
    display: block;
}

.table-fixed tr{
    width: 100%;
    display: table;
}

</style>