{% set attributes = h.json_loads(res['attributesDescription'] or '[]') %}
{% set hasAtLeastOneUnit = h.attributes_has_at_least_one('unit', attributes) %}
{% set hasAtLeastOneId = h.attributes_has_at_least_one('id', attributes) %}

{% if attributes|length > 0 %}
<h2 class="title-h">Metadatos de este recurso</h2>

        <table id="metadata-table" class="table table-striped header-fixed">
            <thead>
                <tr class="gradient">
                    <th>Título de la columna</th>
                    <th>Tipo de dato</th>
                    <th>Descripción</th>
                    <th>Unidades</th>
                    <th>Identificador</th>
                    <th>Dato especial</th>
                    <th>Detalle dato</th>
                </tr>
            </thead>
            <tbody>
            {% for attribute_group in attributes %}
                <tr>
                    <td>{{ attribute_group.get('title', '') }}&nbsp;</td>
                    <td>{{ attribute_group.get('type', '') }}&nbsp;</td>
                    <td>{{ attribute_group.get('description', '') }}&nbsp;</td>
                    <td>{{ attribute_group.get('units', '') }}&nbsp;</td>
                    <td>{{ attribute_group.get('id', '') }}&nbsp;</td>
                    <td>{{ attribute_group.get('specialType', '') }}&nbsp;</td>
                    <td>{{ attribute_group.get('specialTypeDetail', '') }}&nbsp;</td>
                </tr>
            {% endfor %}
            </tbody>

        </table>

{% endif %}
