{% extends "config/config_base.html" %}
{% block config %}

    <h1>Comandos de DataPusher</h1>

    <h2>Subida de recursos automática al Datastore</h2>

    <form id="datapusher" method="post" action="" data-module="basic-form">

        <h2>Horario de ejecución</h2>
        <table class="date-picker datapusher"
               data-dates="{{ h.get_pkg_extra(data, 'temporal') or h.get_pkg_extra(data, 'dateRange') }}">
            {% set hours = ["00","01","02","03","04","05","06","07","08","09","10","11","12","13","14","15","16","17","18","19","20","21","22","23"] %}
            {% set minutes = ["00","01","02","03","04","05","06","07","08","09","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24","25","26","27","28","29","30","31","32","33","34","35","36","37","38","39","40","41","42","43","44","45","46","47","48","49","50","51","52","53","54","55","56","57","58","59"] %}
            <td>
                {% set established_hour = h.get_theme_config('datapusher.schedule-hour', '') %}
                {% set established_minute = h.get_theme_config('datapusher.schedule-minute', '') %}
                <div class="hour-picker-to">
                    <select id="date-to-hour" class="datapusher" name="schedule-hour">
                        {% for hour in hours %}
                            <option value="{{ hour }}" {{ 'selected=true' if hour == established_hour }}>{{ hour }}</option>
                        {% endfor %}
                    </select>
                    <select id="date-to-minute" class="datapusher" name="schedule-minute">
                        {% for minute in minutes %}
                            <option value="{{ minute }}" {{ 'selected=true' if minute == established_minute }}>{{ minute }}</option>
                        {% endfor %}
                    </select>
                </div>
            </td>
        </table>
        <p>La subida de recursos se ejecutará todos los días en el horario establecido.</p>

        <div class="submit-container">
            <button class="submit-button" type="submit" name="save">GUARDAR</button>
        </div>

    </form>

{% endblock -%}
