{% extends "config/config_base.html" %}

{% block config %}
    <div class="col-xs-12 user-list">
        <div class="col-xs-12 list-header">
            <div class="col-xs-3 user-attr">Nombre de usuario</div>
            <div class="col-xs-3 user-attr">Correo electrónico</div>
            <div class="col-xs-3 user-attr">Rol</div>
            <div class="col-xs-3 user-attr">Estado</div>
        </div>

        {%  for user in users %}
            <a href="{{ h.url_for(controller='ckanext.gobar_theme.config_controller:GobArConfigController', action='edit_user', username=user.name) }}">
                <div class="col-xs-12 list-user">
                    <div class="col-xs-3 user-attr">{{ user.name }}</div>
                    <div class="col-xs-3 user-attr">{{ user.email }}</div>
                    <div class="col-xs-3 user-attr">{{ "Admin" if user.sysadmin else "Usuario"}}</div>
                    <div class="col-xs-3 user-attr">{{ 'Activo' if user.state == 'active' else user.active }}</div>
                </div>
            </a>
        {% endfor %}
    </div>

{% endblock %}