{% extends "config/config_base.html" %}
{% block config %}
<h1>Series</h1>

<form method="post" action="" data-module="basic-form" accept-charset="utf-8">
    <label class="with-bottom-margin checkbox-label">
        <input type="checkbox" name="enable" {{ 'checked="checked"' if h.get_theme_config('series_tiempo_ar_explorer.enable') else '' }}>
        ¿Querés que esta sección se vea en tu portal?
    </label>

    <h2>
        ¿Querés destacar algunas series?

    </h2>
    <input type="text" name="featured" value="{{ h.get_theme_config('series_tiempo_ar_explorer.featured') or '' }}">

    <h2>URI de la API de Series</h2>
    <input type="text" name="series-api-uri" value="{{ h.get_theme_config('series_tiempo_ar_explorer.series-api-uri') or h.get_default_series_api_url() }}">

    <h2>Identificador del catálogo</h2>
    <p>Para este campo se utilizará el valor especificado en <a href="{{ h.url_for(controller='ckanext.gobar_theme.config_controller:GobArConfigController', action='edit_metadata_portal') }}">la configuración de metadatos del portal</a>.</p>

    <h2>Laps</h2>
    <div class="reduced-margin-content">
        <h5>Diaria</h5>
        <input type="text" name="diaria" class="reduced-margin" value="{{ h.get_theme_config('series_tiempo_ar_explorer.laps.diaria') or '' }}">
        <h5>Mensual</h5>
        <input type="text" name="mensual" class="reduced-margin" value="{{ h.get_theme_config('series_tiempo_ar_explorer.laps.mensual') or '' }}">
        <h5>Trimestral</h5>
        <input type="text" name="trimestral" class="reduced-margin" value="{{ h.get_theme_config('series_tiempo_ar_explorer.laps.trimestral') or '' }}">
        <h5>Semestral</h5>
        <input type="text" name="semestral" class="reduced-margin" value="{{ h.get_theme_config('series_tiempo_ar_explorer.laps.semestral') or '' }}">
        <h5>Anual</h5>
        <input type="text" name="anual" class="reduced-margin" value="{{ h.get_theme_config('series_tiempo_ar_explorer.laps.anual') or '' }}">
    </div>

    <h2>Locale</h2>
    {% set current_locale = h.get_theme_config('series_tiempo_ar_explorer.locale') or '' %}
    {% set locale_options = h.get_locale_options() %}
    <select name="locale" class="locale" data-module="autocomplete" title="Locale">
        {% for locale in locale_options %}
            <option name="locale" value="{{ locale }}" {{ 'selected' if current_locale == locale or ("AR" == locale and not current_locale) }}>{{ locale }}</option>
        {% endfor %}
    </select>

    <h2>Cantidad máxima de cifras decimales</h2>
    <input type="text" name="max-decimals" value="{{ h.get_theme_config('series_tiempo_ar_explorer.max-decimals') or '' }}">

    <div class="submit-container">
        <button class="submit-button" type="submit" name="save">GUARDAR</button>
    </div>
</form>

{% resource 'gobar_js/errors.js' %}
{% resource 'gobar_js/config/series_actions.js' %}
{% resource 'gobar_js/forms/autovalidations/numbers.js' %}

{% endblock -%}
