{% extends "config/config_base.html" %}
{% block config %}
<h1>Series</h1>

<form method="post" action="" data-module="basic-form">
    <label class="with-bottom-margin checkbox-label">
        <input type="checkbox"
               name="enable" {{ 'checked="checked"' if h.get_theme_config('series_tiempo_ar_explorer.enable') else ''
        }}>
        ¿Querés que esta sección se vea en tu portal?
    </label>

    <h2>
        ¿Querés destacar algunas series?

    </h2>
    <input type="text"
           name="featured" value="{{ h.get_theme_config('series_tiempo_ar_explorer.featured') or '' }}">

    <h2>URI de la API de Series</h2>
    <input type="text" name="series-api-uri" value="{{ h.get_theme_config('series_tiempo_ar_explorer.series-api-uri') or '' }}">

    <div class="submit-container">
        <button class="submit-button" type="submit" name="save">GUARDAR</button>
    </div>
</form>
{% endblock -%}
