{% extends "config/config_base.html" %}

{% block config %}

    <h1>Título, descripción e imagen del portal</h1>

    <form id="title-config" method="post" action="/configurar/titulo" data-module="basic-form" accept-charset="utf-8" enctype="multipart/form-data">
        <h2>* Título</h2>
        <p>Podés usar, por ejemplo, Datos + el nombre o las siglas de tu organización.</p>
        {% set title = h.get_theme_config('title.site-title') %}
        <div class="site-title-div">
            <input name="site-title" type="text" title="Título del portal" placeholder="Título del portal" class="site-title"
               id="site-title" style="margin-bottom: 10px;" value="{{ title if title else '' }}">
            <label style="margin-bottom: 30px;">*Por favor, no superes los 100 caracteres.</label>
        </div>

        {% if c.errors.title_error %}
            <label style="color: red; margin-bottom: 30px;">{{ c.errors.title_error }}</label>
        {% endif %}

        <h2>* Descripción del portal</h2>
        <p>Tené en cuenta que esta es la explicación que le das a tus usuarios sobre lo que van a encontrar en tu portal.</p>
        {% set description = h.get_theme_config('title.site-description') %}
        <div class="site-description-div">
            <textarea name="site-description" title="Descripción del portal" id="site-description" style="margin-bottom: 10px;"
                      placeholder="Describí el portal. Explicá de qué se trata tu catálogo de datos. Por favor, hacelo en no más de tres líneas."
            >{{- description if description else '' -}}</textarea>
            <label style="margin-bottom: 30px;">*Por favor, no superes los 300 caracteres.</label>
        </div>

        {% if c.errors.description_error %}
            <label style="color: red; margin-bottom: 30px;">{{ c.errors.description_error }}</label>
        {% endif %}

        <h2>* Organización</h2>
        {% set organization = h.get_theme_config('title.site-organization') %}
        <div class="site-organization-div">
            <input name="site-organization" type="text" title="Organización" placeholder="Ministerio de Modernización" class="site-title"
               id="site-organization" style="margin-bottom: 10px;" value="{{ organization if organization else '' }}">
            <label style="margin-bottom: 30px;">*Por favor, no superes los 100 caracteres.</label>
        </div>

        {% if c.errors.organization_error %}
            <label style="color: red; margin-bottom: 30px;">{{ c.errors.organization_error }}</label>
        {% endif %}

        <h2>Imagen de fondo</h2>
        {% set image = h.get_theme_config('title.background-image') %}
        <div class="file-upload-container {{ 'with-image' if image else '' }}">
            <i class="icon-remove-sign" aria-hidden="true"></i>
            <input type="text" disabled placeholder="Subí tu archivo" id="filename" class="filename-input" value="{{ image if image else '' }}">
            <input type="file" id="background-image" name="background-image">
            <input type="hidden" name="image-logic" id="image-logic" value="">
            <label for="background-image">
                <span class="upload-file-button">ELEGIR</span>
            </label>
            <p>*Por favor, elegí formato .JPG, .SVG o .PNG.</p>
        </div>

        <div class="submit-container">
            <button class="submit-button site-config" onclick="validateSiteFields()" type="submit" name="save" value="config-form">GUARDAR</button>
        </div>
    </form>

    <script>
        function validateSiteFields(){
            var input = document.getElementById("site-title");
            if (input.value.length < 9 || input.value.length > 100){
                event.preventDefault();
                if (document.getElementById("title-error") === null){
                    var title_label = document.createElement("label");
                    var title_node = document.createTextNode("El título debe contener un mínimo de 9 caracteres y un máximo de 100!");
                    title_label.appendChild(title_node);
                    title_label.style.color = 'red';
                    title_label.style.marginBottom = '30px';
                    title_label.id = "title-error";
                    $(".site-title-div").append(title_label);
                }
            }
            var textarea = document.getElementById("site-description");
            if (textarea.value.length < 30 || textarea.value.length > 300){
                event.preventDefault();
                if (document.getElementById("description-error") === null){
                    var description_label = document.createElement("label");
                    var description_node = document.createTextNode("La descripción debe contener un mínimo de 30 caracteres y un máximo de 300!");
                    description_label.appendChild(description_node);
                    description_label.style.color = 'red';
                    description_label.style.marginBottom = '30px';
                    description_label.id = "description-error";
                    $(".site-description-div").append(description_label);
                }
            }
            var input_organization = document.getElementById("site-organization");
            if (input_organization.value.length < 9 || input_organization.value.length > 100){
                event.preventDefault();
                if (document.getElementById("organization-error") === null){
                    var organization_label = document.createElement("label");
                    var organization_node = document.createTextNode("La organización debe contener un mínimo de 9 caracteres y un máximo de 100!");
                    organization_label.appendChild(organization_node);
                    organization_label.style.color = 'red';
                    organization_label.style.marginBottom = '30px';
                    organization_label.id = "organization-error";
                    $(".site-organization-div").append(organization_label);
                }
            }
        }
    </script>

{% endblock %}