{% extends "config/config_base.html" %}
{% block config %}

    <h1>Google Analytics</h1>

    <form id="google-analytics" method="post" action="" data-module="basic-form">

        <h2>Id de Google Analytics</h2>
        <input type="text" name="id" value="{{ h.get_google_analytics_id() }}">
        <p>En el caso de guardar un id vacío, se defaulteará al valor existente en el archivo de configuración.</p>

        <div class="submit-container">
            <button class="submit-button" type="submit" name="save">GUARDAR</button>
        </div>
    </form>

{% endblock -%}
