<div class="create-section">
    <h2 class="blue">{{ user_type }}</h2>
    <p class="role-description with-bottom-margin">
        {{ description }}
    </p>

    <h2>Usuario</h2>
    <div class="can-have-feedback-img username-feedback">
        <input name="username" type="text" title="Usuario" placeholder="Por ejemplo, jperez" maxlength="60">
    </div>
    <p class="username-restriction">Máximo 60 caracteres.</p>

    <h2>Nombre y apellido</h2>
    <div class="can-have-feedback-img fullname-feedback">
        <input name="fullname" type="text" title="Nombre y apellido" placeholder="Por ejemplo, Juan Rodríguez">
    </div>

    <h2>E-mail</h2>
    <div class="can-have-feedback-img">
        <input name="email" type="text" title="E-mail" placeholder="j.rodriguez@gmail.com">
    </div>

    {% if user_type == "Colaborador" %}
        <h2>Organización</h2>
        <div class="can-have-feedback-img">
                {% set organizations_tree = h.organization_tree() %}
                {{ organization_selector.organization_selector(organizations_tree) }}
        </div>
    {% endif %}

    <button class="btn btn-blue save-new-user">
        LISTO, CREAR
    </button>
</div>