{% extends "base.html" %}

<!-- TODO: buscar mejor forma de deshabilitar estos mensajes -->
{% set messages = h.flash.pop_messages() %}

{%- block page -%}
    <div class="footer-down">
        {%- block header %}
            {% include "header.html" %}
        {% endblock -%}

        {%- block content %}
        {% endblock -%}


        {%- block footer %}
            {% include "footer.html" %}
        {% endblock -%}
    </div>
{%- endblock -%}

{%- block scripts %}
    {% resource 'base/main' %}
    {% resource 'base/ckan' %}
    {% if g.tracking_enabled %}
        {% resource 'base/tracking.js' %}
    {% endif %}
    {% resource 'gobar_js/libs/bootstrap_scripts.js' %}
    {% resource 'gobar_js/console_message.js' %}
    {% resource 'gobar_js/replace_svg.js' %}
    {% resource 'gobar_js/forms/custom_popup.js' %}
    {% resource 'gobar_js/header.js' %}
    {{ super() }}
{% endblock -%}